{extends file='layout/main.html'}
{block name="body"}
<div class="login_header"> 
	<span class="fr ico_home"><a href="{$smarty.const.SITE_URL}/">返回首页</a></span>
	<a href="#"><span class="fl" style="font-size:20px;">QiQi人事管理系统</span></a>
</div>
<!--header end-->
<div class="login_content clearfix">
	<form action="{$smarty.const.SITE_URL}/user" method="post" id="login">
		<dl class="login_form clearfix">
			<dt class="fl">用户名:</dt><dd class="fl"><input type="text" name="user_info[name]" /></dd>
			<dt class="fl">密码:</dt><dd class="fl"><input type="password" name="user_info[password]" /></dd>
			<dt class="fl">&nbsp;</dt><dd class="fl btn">{$error}<a href="" class="btn1 fr submit">现在登陆</a></dd>
		</dl>
	</form>	
</div>
<script type="text/javascript" charset="utf-8">
	$('.submit').click(function(){
		  $("#login").submit();
		return false;
	});

	$('input').keydown(function(event){
		if (event.keyCode == 13){
		  $("#login").submit();
		};
	});
</script>
{include file="lib/footer.html"}
{/block}
