{extends file='layout/base.html'}
{block name="head"}
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess -->
<title>{block name='title'}QiQi管理系统{/block}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="PHP Web Design Coding WebDesign">
<meta name="author" content="Geek-Zoo">
<meta name="Keywords" content="Web Design PHP Coding WebDesign">
<meta name="Copyright" content="Geek-Zoo.com">
<meta content="All" name="Robots">
<!--  Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{$smarty.const.SITE_URL}/images/favicon.ico'">
<link rel="apple-touch-icon" href="{$smarty.const.SITE_URL}/images/apple-touch-icon.png">
<!-- CSS : implied media="all" -->
<base href="{$smarty.const.SITE_URL}/" />
<link rel="stylesheet" href="{$smarty.const.SITE_URL}/styles/style.css">
<link rel="stylesheet" href="{$smarty.const.SITE_URL}/styles/layout.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{$smarty.const.SITE_URL}/js/libs/modernizr-1.7.min.js"></script>
<script src="{$smarty.const.SITE_URL}/js/ui.js"></script>
<script type="text/javascript" charset="utf-8">
	__THEME__ = '{$smarty.const.SITE_URL}';
</script>
{/block}

{block name="body"}

<!--header start-->
<div class="header"> <a href="#"><span class="fl" style="font-size:20px;">QiQi人事管理系统</span></a>
	<div class="header_login clearfix"><a href="user/logout" class="btn_logout">登出767</a></div>
</div>
<!--header end-->

<div class="container clearfix">
  
	<div class="sidebar">
		<dl class="sidemenu show">
			<dd><a href="{$smarty.const.SITE_URL}/">值班表</a></dd>
			<dd><a href="{$smarty.const.SITE_URL}/staff">人员管理</a></dd>
			<dd><a href="{$smarty.const.SITE_URL}/class">班次管理</a></dd>
		</dl>
	</div>
<div class="main">
<div class="main_con">
{block name="main"}

{/block}
</div>
</div>
</div>
{include file="lib/footer.html"}

{/block}

